<div class="containerImg">
    <img src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/33ef710f-883f-4ebf-a096-db5d2369e3a0/ELIO_Logo_TT_DkBg_v3.0_A.png?format=2500w"
        alt="Pixar Logo" class="logo">
</div>
<div class="containerImg2">
    <div class="img">
        <img src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/bd1f1b9c-98fa-4cf1-8898-d2622699cd65/logo.png?format=1500w"
            alt="" class="logo2">
        <p class="textHoppers">ONLY IN THEATERS. MARCH 6, 2026</p>
    </div>
</div>
<div class="containerImg3">
    <div class="mainContainer">
        <div class="leftContainer">
            <div class="topSection"></div>
            <div class="bottomSection"></div>
        </div>
        
        <div class="rightContainer">
            <h1>Careers at Pixar</h1>
            <p>At Pixar, we are proud of our tradition of creative and technical excellence and are always looking for talented people to enrich our work and our community.</p>
        </div>
    </div>
</div>
<div class="containerImg4">
     <div class="img">
        <img src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/471447c0-56ae-46f2-ba47-eb8f93af3c00/wol_logo.png?format=1500w"
            alt="" class="logo3">
        <p class="textStreaming">ALL EPISODES NOW STREAMING</p>
        <img src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/1e6a13c7-e61e-4393-9d94-d6d76805037e/d%2B.png?format=500w"
            alt="Disney Plus Logo" class="disneyLogo">
    </div>
</div>

<div class="containerImg5">
    <div class="threeColumnsContainer">
        <div class="column1">
            <img src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/144b6fec-60ea-4f47-9971-b8a2ee389ab9/dp_title_flat.png?format=750w"
                alt="Disney Plus Logo" class="disneyLogo2">
            <p>NOW STREAMING</p>
        </div>
        <div class="column2">
            <img src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/6b4d4485-d4ca-4081-8176-26a930bc8400/logo.png?format=1000w"
                alt="Disney Plus Logo" class="disneyLogo3">
                <p>NOW STREAMING</p>
        </div>
        <div class="column3">
            <img src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/32a4a56b-3113-4b4a-ba36-2cc8ba032a2e/logo.png?format=1000w"
                alt="Disney Plus Logo" class="disneyLogo4">
                <p>JUNE 19, 2026</p>
        </div>
    </div>
</div>