<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
    
    <div class="footer-center">
      <div class="footer-columns">
        <div class="footer-column">
          <h3 class="footer-title"><a href="/films">FILMS</a></h3>
          <ul class="footer-sub-links">
            <li><a href="https://google.com" target="_blank">Features</a></li>
            <li><a href="https://google.com" target="_blank">Shorts</a></li>
            <li><a href="https://google.com" target="_blank">Series</a></li>
            <li><a href="https://google.com" target="_blank">SparkShorts</a></li>
            <li><a href="https://google.com" target="_blank">Documentaries</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="footer-title"><a href="/technology">TECHNOLOGY</a></h3>
          <ul class="footer-sub-links">
            <li><a href="https://google.com" target="_blank">Tech at Pixar</a></li>
            <li><a href="https://google.com" target="_blank">RenderMan</a></li>
            <li><a href="https://google.com" target="_blank">Open USD</a></li>
            <li><a href="https://google.com" target="_blank">Software R&D</a></li>
            <li><a href="https://google.com" target="_blank">Libraries</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="footer-title"><a href="/careers">CAREERS</a></h3>
          <ul class="footer-sub-links">
            <li><a href="https://google.com" target="_blank">Careers At Pixar</a></li>
            <li><a href="https://google.com" target="_blank">Internships</a></li>
            <li><a href="https://google.com" target="_blank">Life At Pixar</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="footer-title"><a href="/more">MORE</a></h3>
          <ul class="footer-sub-links">
            <li><a href="https://google.com" target="_blank">Leaders</a></li>
            <li><a href="https://google.com" target="_blank">Our Story</a></li>
            <li><a href="https://google.com" target="_blank">Events</a></li>
            <li><a href="https://google.com" target="_blank">Pixar In A Box</a></li>
            <li><a href="https://google.com" target="_blank">Supplier Diversity</a></li>
            <li><a href="https://google.com" target="_blank">FAQ's</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>